<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>275753575698-h3pj47l228c16hk55dh62ai46sfe3t6a.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.275753575698-h3pj47l228c16hk55dh62ai46sfe3t6a</string>
	<key>API_KEY</key>
	<string>AIzaSyCOlAfG3EBdzKmzpJBmaaduKhdRgHINPI4</string>
	<key>GCM_SENDER_ID</key>
	<string>275753575698</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.Apptitude.Direct-iOS</string>
	<key>PROJECT_ID</key>
	<string>direct-ios-app</string>
	<key>STORAGE_BUCKET</key>
	<string>direct-ios-app.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:275753575698:ios:9a85ebe38371f444067fcb</string>
	<key>DATABASE_URL</key>
	<string>https://direct-ios-app.firebaseio.com</string>
</dict>
</plist>